* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.main {
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 1280px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px auto;
}

.navbar_logo {
  margin-right: auto;
}

.navbar_list a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  color: #394149;
}

.navbar_list button {
  padding: 10px 20px;
  border: none;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  color: #f58a07;
  font-size: 1rem;
}
@media (max-width: 1279px) {
  .navbar {
    width: 1024px;
  }
}
