* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.main {
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 1280px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px auto;
}

.navbar_logo {
  margin-right: auto;
}

.navbar_list a {
  padding-right: 20px;
  font-size: 1rem;
  color: #394149;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  color: #f58a07;
  font-size: 1rem;
}

.header_content #bt1 {
  background-color: #f58a07;
  color: #fff;
}

.header_content #bt2 {
  background-color: #dceaf5;
  color: #1d3444;
}
.header_content_title {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1.08px;
}

.header_content_sub1 {
  font-size: 1rem;
  width: 70%;
  margin-bottom: 30px;
}

.header_content_sub2 {
  font-size: 1rem;
  margin-top: 30px;
  color: rgba(57, 65, 73, 0.5);
  margin-bottom: 15px;
}

.header_section {
  background-color: #dceaf5;
  /* width: 100%; */
}
.header {
  display: flex;
  /* flex-wrap: wrap; */
  width: 1280px;
  margin: 0 auto;
}

.header .header_img {
  max-width: 100%;
}

.header_img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_content {
  width: 60%;
  /* max-width: 100%; */
}

.help_image {
  width: 100%;
}

.header_content_title {
  color: #1d3444;

  /* H1 Heading */
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
}

.help_section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.help {
  width: 1280px;
  margin: 0 auto;
}

.help_title {
  color: #0d1317;
  font-size: 3rem;

  width: 60%;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
}
.help_content {
  font-size: 1rem;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
  font-size: 1.5rem;
}
.content {
  margin-bottom: 20px;
}

.feature_section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dceaf5;
}

.feature_section .container {
  background-color: #dceaf5;
}
.feature {
  width: 1280px;
  margin: 10px auto;
  margin-bottom: 50px;
  display: flex;
}

.item_content {
  padding: 20px;
}

.feature_title {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
}

.feature_content {
  width: 100%;
}

.footer_section {
  background-color: #063255;
  width: 100%;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
}

.footer_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  padding-top: 100px;
}

.footer_left {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  width: 30%;
}

.footer_left h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.other,
.connect_more {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.other div,
.connect_more div {
  margin-bottom: 10px;
}

.connect_head,
.com,
.subscribe div {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.subscribe .type_email {
  background-color: #fff;
  width: 342px;
  color: #9c9c9c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  max-width: 80%;
}

.subscribe .subscribe_button {
  background-color: #f58a07;
  color: #fff;
  margin-top: 16px;
}

.footer-bottom {
  display: flex;
  color: #fff;
  justify-content: flex-end;
  margin-top: 30px;
  margin: 30px auto;
  padding-bottom: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 1280px;
}

.allright {
  margin-right: auto;
}

.item {
  /* padding: 30px; */
  /* margin-right: 20px; */
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
}

.itemm {
  padding: 30px;
  /* margin-right: 20px; */
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
}
.item_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
}

.container {
  max-width: 1280px;
}

.row {
  align-items: stretch;
}

.flexbox-no-margin .row {
  display: flex;
  flex-wrap: wrap;
}

.about_section {
  width: 1280px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  position: relative;
}

.about_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
}

.circle {
  position: absolute;
  top: -50px;
  right: -50px;
}
.subs {
  display: flex;
}
.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
}
.subcontent {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  width: 100%;
}

.about_title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}

.about_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.service_section {
  width: 1280px;
  background-color: #dceaf5;
  margin: 10px auto;
  position: relative;
  padding-bottom: 50px;
}

.ribbon {
  position: absolute;
  top: -15px;
  right: -15px;
}
.service_content {
  width: 50%;
}
.service {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service_header {
  margin-left: 3rem;
  padding-top: 50px;
  margin-bottom: 50px;
}

.service_title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  width: 90%;
  margin-bottom: 20px;
}

.service_img img {
  width: 100%;
}
.service_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 80%;
  margin-bottom: 50px;
}

span {
  color: #f58a07;
}

.service_header .bt1 {
  background-color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: none;
  color: #f58a07;
}

.service_header button {
  color: #a8bccc;
  background-color: #dceaf5;
  border: 1px solid #a8bccc;
}

.cta_content {
  background-color: #f58a07;
  flex-grow: 1;
  width: 50%;
}
.cta_text {
  max-width: 640px;
  font-size: 3rem;
  margin-top: 100px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  color: #fff;
}

.cta_button {
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 30px;
  padding: 20px 30px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
}
.CTA_section {
  display: flex;
  flex-wrap: wrap;
}

.cta_img {
  width: 50%; /* flex: 1; */
}

.cta_button {
  background-color: #dceaf5;
}

.ceo_section {
  width: 1280px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.ceo_text {
  width: 60%;
}

.ceo_content {
  width: 50%;
}
.ceo_title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
  margin-bottom: 20px;
  width: 90%;
}

.ceo_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}

.ceo_profile {
  display: flex;
  align-items: center;
}

.ceo_name {
  margin-left: 20px;
}
.name {
  color: #063255;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 171%; /* 41.04px */
}
.position {
  color: #f58a07;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 171%; /* 30.78px */
}

.blog_section {
  width: 100%;
  background-color: #dceaf5;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.row {
  padding-left: 0;
  padding-right: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
}
.blog {
  width: 25%;
}
.blog .blog_image {
  width: 100%;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .navbar,
  .help,
  .feature,
  .header {
    width: 644px;
  }

  .header {
    flex-wrap: wrap;
  }

  .header_content {
    width: 100%;
    order: 2;
  }
  .header_img {
    width: 100%;
    order: 1;
  }

  .navbar_list a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
  }

  .navbar_list button {
    font-size: 0.8rem;
  }
  .help_title {
    width: 80%;
  }

  .help_content {
    width: 80%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .navbar,
  .help,
  .feature,
  .header {
    width: 984px;
  }
  .header {
    /* flex-wrap: wrap; */
  }

  .header_content {
    width: 100%;
    order: 1;
  }
  .header_img {
    width: 100%;
    order: 2;
  }
  .help_title {
    width: 80%;
  }

  .help_content {
    width: 80%;
  }
  .feature {
    flex-direction: column;
  }
  .feature_content {
    width: 80%;
    margin-top: 50px;
  }
  .feature_title {
    width: 80%;
  }
}

@media (max-width: 739px) {
  .navbar {
    display: none;
  }
  .help,
  .feature,
  .header {
    width: 550px;
  }
  .header {
    flex-wrap: wrap;
  }

  .header_content {
    width: 100%;
    order: 2;
  }
  .header_img {
    width: 100%;
    order: 1;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .help_title {
    width: 80%;
  }

  .help_content {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .navbar,
  .help,
  .feature,
  .header {
    width: 300px;
  }
  .header {
    flex-wrap: wrap;
  }

  .header_content {
    width: 100%;
    order: 2;
  }
  .header_img {
    width: 100%;
    order: 1;
  }
}
